<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 inner">
      <app-program-widget [name]="'React Program'"></app-program-widget>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 inner">
      <app-program-widget [name]="'Master Program'"></app-program-widget>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 inner">
      <app-program-widget [name]="'Spring Boot Application Development'"></app-program-widget>
    </div>
  </div>
</div>
