<div class="header">
  <div class="left">
    <ul>
      <li>
        <a routerLink="/user/process/home">Home</a>
      </li>
      <li>
        <a routerLink="/user/process/my-programs">My Programs</a>
      </li>
      <li>
        <a routerLink="/user/process/all-programs">All Programs</a>
      </li>
      <li>
        <a routerLink="/user/process/payments">Payments</a>
      </li>
      <li>
        <a routerLink="/user/process/subjects">Subjects</a>
      </li>
    </ul>
  </div>
  <button mat-raised-button color="warn" routerLink="/admin/process/home">Admin Panel</button>
</div>
<div class="outer">
  <router-outlet></router-outlet>
</div>
